main {
  background-color: #EFEBE5; }

.ds-container {
  padding: 25px; }
  .ds-container .carousel-indicators {
    bottom: 10px; }
  .ds-container .carousel-control-prev, .ds-container .carousel-control-next {
    width: 5%; }
  .ds-container .carousel-control-prev {
    justify-content: flex-start;
    left: -5%; }
  .ds-container .carousel-control-next {
    justify-content: flex-end;
    right: -5%; }
  .ds-container .carousel-item img {
    height: 700px;
    object-fit: cover; }
  .ds-container .carousel-control-prev-icon,
  .ds-container .carousel-control-next-icon {
    filter: invert(100%);
    height: 3rem;
    width: 3rem; }
