.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("../img/imgHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; }
  .header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 175px 0 60px;
    height: 100%; }
    @media (max-width: 768px) {
      .header .container {
        padding: 50px 0; } }
  .header__titulos {
    height: 800px; }
  .header__titulo {
    font-size: 180px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -5px 6px 6px rgba(0, 0, 0, 0.6); }
  .header__subtitulo {
    font-size: 100px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -5px 6px 6px rgba(0, 0, 0, 0.6); }

.navbar {
  text-align: center; }
  .navbar__lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 0  120px; }
  .navbar__item {
    display: inline;
    font-family: 'Times New Roman', Times, serif; }
    .navbar__item a {
      background-color: rgba(98, 62, 42, 0.8);
      display: inline-block;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      transition: .5s;
      border-radius: 5px; }
      .navbar__item a:hover {
        background-color: #555; }

@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    padding: 80px 0; }
<<<<<<< HEAD
    .header .container {
      padding: 50px 0;
      width: 100%; }
=======
>>>>>>> dfed35390c2cec306f079aca8650978453364808
    .header__titulos {
      height: auto;
      text-align: center; }
    .header__titulo {
      font-size: 80px; }
    .header__subtitulo {
      font-size: 45px; }
    .header .navbar__lista {
      flex-direction: column;
      padding-top: 25px; }
    .header .navbar__item {
<<<<<<< HEAD
      margin-bottom: 20px; }
      .header .navbar__item a {
        font-size: 20px; } }
=======
      margin-bottom: 20px; } }
>>>>>>> dfed35390c2cec306f079aca8650978453364808

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 120px 0; }
  .container {
    padding: 100px 0; } }
