* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-image: url("../img/imgHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 1200px; }

.titulos {
  height: 800px; }

h1 {
  font-size: 200px;
  color: rgba(128, 128, 128, 0.75);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 200px; }

h3 {
  font-size: 100px;
  color: rgba(128, 128, 128, 0.75);
  text-align: center;
  font-family: 'Times New Roman', Times, serif; }

.navBar {
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center; }

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.navBar ul li {
  display: inline;
  padding: 100px; }

.navBar ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none; }

.navBar ul li a:hover {
  background-color: #555; }

.container {
  display: grid;
  /* Utilizamos flexbox para alinear las cards */
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #EFEBE5;
  gap: 20px; }

.card {
  text-align: center; }

.descripcion {
  margin-top: 10px;
  /* Espacio entre la imagen y el texto */
  border: 1px solid black; }
