main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(../img/AADL.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    

    &__titulo {
        color: #EFEBE5;
        text-align: center;
        font-size: 50px;
        padding-top: 150px;
        font-family: 'Times New Roman', Times, serif;
    }
}


.acercademi {
    display: flex;
    flex-direction: row;
    gap: 125px;
    padding-top: 250px;

    div {
        gap: 150px;
    }

    p {
        color: #EFEBE5;
        font-family: 'Times New Roman', Times, serif;
        word-spacing: 4px;
    }
}