main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/instrumentos123.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    

    &__titulo {
        color: #EFEBE5;
        text-align: center;
        font-size: 50px;
        padding-top: 150px;
        font-family: 'Times New Roman', Times, serif;
    }
}


.acercademi {
    display: flex;
    flex-direction: row;
    gap: 125px;
    padding-top: 250px;

    div {
        gap: 150px;
    }

    p {
        color: #EFEBE5;
        font-family: 'Times New Roman', Times, serif;
        word-spacing: 4px;
    }
}

@media only screen and (max-width: 768px) {
    .container {

        &__titulo {
            padding-top: 75px;
        }
    }
    
    .acercademi {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        gap: 75px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {



}