main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/instrumentos123.jpg);
    background-size: cover;
    background-position: center;
    // min-height: 100vh;
}


.acerca-de-mi {
    display: flex;
    // gap: 80px;
    align-items: center;
    flex-direction: column;
    padding: 120px 0;

    &__titulo {
        color: #EFEBE5;
        text-align: center;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 80px;
    }

    &__textos {
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

    
    &__texto {
        display: flex;
        flex-direction: column;

        i {
            color: #EFEBE5;
            font-size: 48px;
            margin: 0 auto 24px;
        }
        
        p {
            color: #EFEBE5;
            font-family: 'Times New Roman', Times, serif;
            word-spacing: 4px;
            justify-content: center;
            font-size: 18px;
        }
    }
    
}

@media only screen and (max-width: 768px) {
   
    
    .acerca-de-mi {
        
        padding-top: 60px;
        gap: 75px;
    
        &__titulo {
            padding-top: 75px;
        }
    

        &__textos {
            display: flex;
            flex-direction: column;
            padding: 25px 25px 25px 45px;
            
        }

        &__texto {
            word-spacing: normal;
            font-size: 20px;
            
        }
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {



}