.footer {
    background-color: #623E2A;

    &__title {
        font-size: 60px;
        color: #F4F1ED;
    }

    &__boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 
        
    }

    &__box {
        border: 1px solid #F4F1ED;


            h4 {
                padding: 25px;
                color: #F4F1ED;
                font-size: 30px;
            }

            p {
                padding: 25px;
                color: #F4F1ED;
            }

            button {
                padding: 20px;
                margin: 25px;
            }

    }


}