.title {
    font-family: $font;
    line-height: 1.2;
    font-weight: 500;

    &--xl {
        font-size: 72px;
        text-decoration: none;
    }

    &--l {
        font-size: 60px;
        text-decoration: underline;
    }

    &--m {
        font-size: 48px;
        text-decoration: none;
    }

    &--s {
        font-size: 24px;
        text-decoration: underline;
    }

    &--xs {
        font-size: 18px;
        text-decoration: none;
    }
}