.header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url('../img/imgHeader.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; // la medida vh (viewport height) indica que el alto es proporcional a la altura de la ventana del navegador

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 175px 0 60px;
        height: 100%;
    }

    &__titulos {
        height: 800px;
    }

    &__titulo {
        font-size: 180px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: -5px 6px 6px rgba(0,0,0,0.6);
    }

    &__subtitulo {
        font-size: 100px;
        color: white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: -5px 6px 6px rgba(0,0,0,0.6);        
    }
}

.navbar {
    text-align: center;


    &__lista {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        padding: 0  120px;        
    }

    &__item {
        display: inline;
        font-family: 'Times New Roman', Times, serif;
       
        a {
            background-color: rgba(98, 62, 42, 0.8);
            display: inline-block;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            transition: .5s;
            border-radius: 5px;
            
            
            &:hover {
                background-color: #555;
            }
        }
    }
}

// Para dispositivos móviles
@media only screen and (max-width: 768px) {
    .header {
        height: auto; // Ajustar la altura automáticamente
        padding: 80px 0; // Reducir el espacio vertical
        
    
  
        .container {
            padding: 50px 0; // Reducir el espacio vertical
            width: 100%;
        }
  
        &__titulos {
            height: auto; // Ajustar la altura automáticamente
            text-align: center; // Centrar los títulos
        }
  
        &__titulo {
            font-size: 80px; // Reducir el tamaño del título
        }
  
        &__subtitulo {
            font-size: 45px; // Reducir el tamaño del subtítulo
        }
  
        .navbar__lista {
            flex-direction: column; // Colocar los elementos de la lista en una columna
            padding-top: 25px; // Eliminar el relleno horizontal
        }
  
        .navbar__item {
            margin-bottom: 20px; // Agregar espacio entre los elementos de la lista
      

              a {
                font-size: 20px;
              }
        }  
    }
  }
  
  // Para tablets
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
      padding: 120px 0; // Ajustar el espacio vertical
    }
  
    .container {
      padding: 100px 0; // Ajustar el espacio vertical
    }
  }