* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 120px;

   /*  @media (max-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
    } */
}

img {
    // estas 3 propiedades van siempre juntas (o casi) y hacen que la imagen se adapte al tamaño del contenedor
    object-fit: cover;
    width: 100%;
    height: 100%;
}