$font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-3: monospace;

/*
.algo {
    font-family:monospace ;
}
*/